@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");

:root {
  /* colors */
  --clr-dark: hsl(230, 35%, 7%);
  --clr-light: hsl(231, 77%, 90%);
  --clr-white: hsl(0, 0%, 100%);

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-850: 6.25rem;
  --fs-750: 2rem;

  --fs-700: 1.75rem;
  --fs-600: 1.5rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;
  --fs-200: 0.875rem;

  --fs-section-title: 2rem;
  --fs-primary-nav: 1rem;
  --crew-name: 3.5rem;
  --crew-role: 2rem;

  /* font-families */
  --ff-bellefair: "Bellefair", serif;
  --ff-barlow: "Barlow", sans-serif;
  --ff-barlow-cond: "Barlow Condensed", sans-serif;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

img,
picutre {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: var(--ff-bellefair);
  font-size: var(--fs-400);
  color: var(--clr-white);
  background-color: var(--clr-dark);
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
  background-position: center;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0em 0em 3em;
  font-family: var(--ff-barlow-cond);
}

ul {
  list-style-type: none;
  text-transform: uppercase;
}

.primary-nav {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(1.5em);
  padding-inline: min(6em, 15vh) 15vw;
  --underline-gap: 2em;
}

.primary-nav > ul {
  display: flex;
  gap: clamp(1.5rem, 5vw, 3.5rem);
  color: var(--clr-white);
  letter-spacing: 2.7px;
  font-size: var(--fs-primary-nav);
}

.nav-link > span {
  font-weight: 700;
  margin-right: 0.5em;
}

.nav-link {
  color: var(--clr-white);
  text-decoration: none;
}

.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 1rem) 0;
  border: 0;
  border-bottom: 0.2rem solid rgba(255, 255, 255, 0);
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: rgba(255, 255, 255, 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
  color: var(--clr-white);
  border-color: var(--clr-white);
}

.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.25);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.dot-indicators > [aria-selected="true"] {
  background-color: rgba(255, 255, 255, 1);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.mobile-nav-toggle {
  display: none;
}

/* HOME PAGE */

.container {
  display: flex;
  color: var(--clr-light);
  margin-inline: auto;
  padding-inline: 2em;
}

.home {
  padding-bottom: max(6rem, 15vh);
  gap: 20vw;
  overflow: hidden;
}

.even-columns > * {
  width: 100%;
}

.page-left {
  text-align: left;
}

.page-left > p {
  font-family: var(--ff-barlow);
  font-size: var(--fs-500);
  line-height: 32px;
  max-width: 50ch;
}

.page-left > h1 {
  font-family: var(--ff-barlow-cond);
  text-transform: uppercase;
  letter-spacing: 4.75px;
  font-size: var(--fs-700);
}

.page-left > h1 > span {
  font-size: var(--fs-900);
  font-family: var(--ff-bellefair);
  display: block;
  color: var(--clr-white);
  letter-spacing: 0;
}

.page-right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-inline: 2.5em;
}

.large-button {
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  padding: 0 1.8em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--clr-white);
  color: var(--clr-dark);
  font-size: var(--fs-750);
  letter-spacing: 4.75px;
}

.large-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

/* DESTINATION PAGE */

.destination {
  padding-inline: 10vw;
  justify-content: center;
  gap: 5vw;
}

.section-title {
  font-size: var(--fs-section-title);
  font-family: var(--ff-barlow-cond);
  color: var(--clr-white);
  text-transform: uppercase;
  letter-spacing: 4.75px;
  margin-bottom: 2em;
}

.section-title span {
  margin-right: 0.5em;
  font-weight: 700;
  opacity: 25%;
}

.destination-tab {
  display: flex;
  gap: 2em;
}

.destination-section-left img {
  margin-bottom: 10%;
  max-width: 100%;
}

.destination-section-right,
.destination-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.destination-tab > button {
  font-family: var(--ff-barlow-cond);
  letter-spacing: 2.75px;
  text-transform: uppercase;
  background: none;
  color: var(--clr-light);
}

.destination-info {
  display: flex;
  text-transform: uppercase;
  gap: 6em;
  border-top: 1px solid rgb(255, 255, 255, 0.1);
  padding-top: 2.5em;
  margin-top: 2.5em;
}

.destination-info h3 {
  color: var(--clr-light);
  font-family: var(--ff-barlow-cond);
  font-size: 0.875rem;
  letter-spacing: 2.35px;
}

.destination-info p {
  margin-top: 0.15em;
  color: var(--clr-white);
  font-size: 1.75rem;
}

.destination-section-right,
.destination-section-left {
  padding-inline: 2em;
}

.small-text {
  font-size: var(--fs-500);
  font-family: var(--ff-barlow);
  color: var(--clr-light);
  line-height: 25px;
  max-width: 44ch;
}

.destination-details > h2 {
  text-transform: uppercase;
  font-size: var(--fs-850);
  color: var(--clr-white);
}

/* CREW PAGE */
/* .crew {
  padding-inline: 10vw;
  justify-content: space-evenly;

  gap: 5vw;
}

.crew-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */

.crew-details :not(:last-child) {
  text-transform: uppercase;
  font-family: var(--ff-bellefair);
}

.crew-role {
  font-size: var(--crew-role);
  opacity: 50%;
}

.crew-name {
  font-size: var(--crew-name);
  margin-block: 0.25em;
}

.dot-wrapper {
  display: flex;
  align-items: center;
  gap: 2em;
}

/* .crew-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding-top: 2em;
  padding: 0;
}
 */
/**** MEDIA QUERIES ****/

@media (max-width: 768px) {
  /*NAV*/
  header {
    padding: 0;
    margin-bottom: 4em;
  }

  .logo {
    margin-left: 2.4em;
  }
  /*HOME*/
  .container {
    flex-direction: column;
    height: unset;
    padding-top: 4em;
    padding-inline: 4em;
    gap: 8em;
  }

  .page-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .page-left > h1 {
    letter-spacing: 3.4px;
  }

  .large-button {
    padding: 0 1.25em;
  }

  .page-right {
    align-items: center;
    justify-content: center;
  }

  /*DESTINATION*/

  .destination {
    padding-inline: 0.5em;
    align-items: center;
    gap: 0em;
  }

  .section-title {
    margin-right: auto;
  }

  .destination-section-left,
  .destination-section-right,
  .destination-info {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .destination-info {
    padding-top: 2.5em;
    margin-top: 2.5em;
    gap: 2em;
  }

  .destination-section-left img {
    max-width: 60%;
    margin-block: 0;
  }

  .destination-section-right {
    margin-top: 2em;
  }

  .destination-details p {
    max-width: 61ch;
  }
  .destination-info p {
    padding-inline: 1.25em;
  }

  .section-title {
    letter-spacing: 3.38px;
  }
}

@media (max-width: 540px) {
  /* NAV */
  .logo {
    margin-top: 1.5em;
    margin-left: 1.5em;
  }

  .primary-nav {
    position: fixed;
    z-index: 10;
    inset: 0 0 0 30%;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
    padding: 6em 2em;
  }

  .primary-nav[data-visible="true"] {
    transform: translateX(0);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 20;
    right: 1em;
    top: 2em;
    background: transparent;
    background-image: url(./assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5em;
    aspect-ratio: 1;
    border: 0;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(./assets/shared/icon-close.svg);
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid var(--clr-white);
    outline-offset: 5px;
  }

  .primary-nav > ul {
    flex-direction: column;
    gap: 0em;
  }

  .underline-indicators > * {
    padding: 1em;
  }

  .underline-indicators > .active {
    border: 0;
  }

  /* HOME */
  .container {
    padding-inline: 1em;
    gap: 4em;
    padding-top: 0;
  }

  .page-left > h1 {
    letter-spacing: 2.75px;
  }

  /* DESTINATION */
  .destination-tab {
    gap: 1em;
    margin-bottom: 1em;
  }

  .destination-tab.underline-indicators > * {
    padding: 0.3em 0.5em;
  }

  .destination-tab > button {
    font-size: 0.875rem;
  }

  .section-title {
    font-size: 1rem;
    margin-right: unset;
    letter-spacing: 2.7px;
  }

  .destination-info {
    flex-direction: column;
    gap: 0;
  }

  .destination-info div:nth-child(2) h3 {
    margin-top: 2em;
  }

  .crew-img {
    border-bottom: solid 1px rgb(255, 255, 255, 0.1);
  }
}

@media (min-width: 540px) and (max-width: 768px) {
  .primary-nav {
    padding-inline: min(5em, 15vh) 5em;
  }

  .primary-nav a > span {
    display: none;
  }

  header > div {
    z-index: 1;
  }

  ul {
    font-size: 0.875rem;
  }
}

@media (min-width: 769px) {
  header::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;

    width: 100%;
    margin-right: -1em;
    background: rgba(255, 255, 255, 0.25);
    z-index: 1;
  }

  nav {
    order: 3;
  }

  header > div {
    width: 100%;
  }

  main {
    display: flex;
    height: calc(100vh - 140px);
    align-items: flex-end;
  }

  section {
    display: flex;
    height: calc(100vh - 140px);
    padding-inline: 6em;
  }
}

@media (max-width: 1024px) {
  .primary-nav {
    padding-inline: min(2.7em, 15vh) 2.7em;
  }

  .container {
    gap: 2em;
  }

  .large-button {
    padding: 0 1.25em;
  }
}

@media (min-width: 1440px) {
  header::after {
    width: 350%;
    margin-inline: -2.5em;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (max-width: 768px) {
  :root {
    --fs-850: 5rem;
    --fs-700: 1.25rem;
    --fs-500: 1rem;

    --fs-primary-nav: 0.875rem;
    --fs-section-title: 1rem;
    --crew-name: 2.5rem;
    --crew-role: 1.5rem;
  }
}

@media (max-width: 540px) {
  :root {
    --fs-900: 6rem;
    --fs-850: 3.5rem;
    --fs-750: 1.25rem;
    --fs-700: 1rem;
    --fs-500: 0.938rem;

    --fs-primary-nav: 1rem;
    --fs-section-title: 1.25rem;
    --crew-name: 1.5rem;
    --crew-role: 1rem;
  }
}
